<div class="mtopbox">

    <h2 class="ui header">
        <img src="/img/quality.png" style="max-height: 40px; width: auto;
            height: auto;">
        <div class="content">
            Quality of Life
        </div>
    </h2>

</div>



<div class="mbottombox">
<h2>Taking everything in your life into account, please rate your overall quality of life.</h2>
<br><br>
<div class="ui seven column grid">
  <div class="row">
    <div class="column"><img src='/img/sad.png'></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"><img src='/img/upset.png'></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"><img src='/img/happy.png'></div>
  </div>
  <div class="row">
    <div class="column"><button class="big circular ui button js-quality">1</button></div>
    <div class="column"><button class="big circular ui button js-quality">2</button></div>
    <div class="column"><button class="big circular ui button js-quality">3</button></div>
    <div class="column"><button class="big circular ui button js-quality">4</button></div>
    <div class="column"><button class="big circular ui button js-quality">5</button></div>
    <div class="column"><button class="big circular ui button js-quality">6</button></div>
    <div class="column"><button class="big circular ui button js-quality">7</button></div>
  </div>
  <div class="row">
    <div class="column">Life is very distressing</div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">Life is so-so</div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">Life is great</div>
  </div>

</div>


</div>
