.my-main-container
    height: 100%
    width: 100%
    max-width: 800px
    position:relative
    margin:auto


.mtopbox
    color: black;
    background-color: $mgreen
    padding: 20px 20px 20px 20px;
    height: 200px;
    border-radius: 0px 0px 25px 25px;

.mbottombox
    position:relative;
    margin:auto;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    top:-20px
    margin-top: -80px

.blacklink
    color: black
    text-decoration: underline

.left-padded
    padding-left: 10px

.bottom-padded
    padding-bottom:  15px !important

.progress_circle
    height: 60px
    width: 60px
    display: inline-block !important
    float: left !important
    margin-bottom: 10 px
    position: relative;


.progress_circle_box
    width: 65px
    display: inline-block !important
    float: left !important
    margin-right: 25  px
    position: relative;
    text-align: center;

.progress > svg {
    height: 100%;
    display: block;
}
