<div class="topbox">
    <h2>Distress Thermometer</h2>
    <div>
        <p>Please add your personal details.</p>
        <p><a href="#" class="js-show-modal whitelink">Privacy Policy</a></p>
    </div>
</div>

<div class="bottombox">
<form class="ui form">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" id="first-name" placeholder="First Name" value="{{fname}}">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" id ="last-name" placeholder="Last Name" value="{{lname}}">
  </div>
  <div class="field">
    <div class="ui toggle checkbox" id="user-checkbox">
      <input type="checkbox" checked tabindex="0" >
      <label>Save my name for next time</label>
    </div>
  </div>
</form>

</div>

<button class="big circular primary ui icon right floated button js-tstart right-button">
    <i class="angle right icon"></i>
</button>

<div class="ui modal privacy_modal">
  <div class="header">Privacy</div>
  <div class="scrolling content">
    <p>This needs to be added! But we send your encrypted data to our server and only specific people can access it.</p>
  </div>
    <div class="actions">
    <div class="ui approve primary button">OK</div>
  </div>

</div>
