  <div class="ui borderless main menu">
    <div class="ui text container">
      <div class="header item">
        <img class="logo" src="icon.png">
        Distress Thermometer
      </div>
      <a class="ui right floated item js-help">
        Help
      </a>
    </div>
  </div>

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="question circle outline icon"></i>
    Help
  </div>
  <div class="content">
    <p>Please feel to tell us what you think didi@rebelproject.org</p>
    <p>Currently this is a very simple app just to show that the build process works and that we have the
        basic functionality up and running. So there isn't really much to show.
    </p>
  </div>
  <div class="actions">
    <div class="ui green cancel inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

<div class="ui raised padded text container">
    <div class="main-container"></div>
</div>
