<div class="mtopbox">
    <h2 class="ui header">
        <img class="ui sa image" src="/img/path.png">
        <div class="content">
            Your Path
            <div class="sub header">An overview of your path. Currently this is static.</div>
        </div>

    </h2>
</div>



<div class="mbottombox">
    <div class="ui inverted dimmer js-loading">
        <div class="ui text loader">Uploading and analysing</div>
    </div>

<div class="ui four column grid">
  <div class="row">
    <div class="column">
        <img class="ui tiny image" src='/img/quality.png'>
        <h4>Quality of Life</h4>
    </div>
    <div class="ten wide column">
            <div class="progress_circle_box"><div class="progress progress_circle" id="ql1"></div> <label>Today</label></div>
            <div class="progress_circle_box"><div class="progress progress_circle" id="ql2"></div> <label>Last week</label></div>
            <div class="progress_circle_box"><div class="progress progress_circle" id="ql3"></div> <label>Last month</label></div>
    </div>
  </div>
    <div class="row">
      <div class="sixteen wide column">        <div class="ui segment">
            <h5>How am I doing</h5>
Overall things are looking great! Looks like your breathing problems have gotten better.<br>

            Call Kentucky Home Place at
<a href"tel:555-567-8890">555-567-8890</a> if you need help.
They’ll be there for you.
        </div>
</div>

  </div>

  <div class="row">
    <div class="column"><img class="ui tiny image" src='/img/spirit.png'> <h4>Mind</h4></div>
    <div class="column">
        <labe>Anxiety</labe>
        <div id="progress1"></div>
        <labe>Depression</labe>
        <div id="progress2"></div>
        <labe>Isolation</labe>
        <div id="progress3"></div>
    </div>
    <div class="two wide column">
        <div class="ui basic compact segments" style="width: 250px">

        </div>

    </div>
  </div>

  <div class="row">
    <div class="column"><img class="ui tiny image" src='/img/body.png'> <h4>Body</h4></div>
    <div class="column">
        <labe>General</labe>
        <div id="progress4"></div>
        <labe>Head & Neck</labe>
        <div id="progress5"></div>
        <labe>Breathing & Heart</labe>
        <div id="progress6"></div>
        <labe>Stomach & Gut</labe>
        <div id="progress7"></div>
        <labe>Other</labe>
        <div id="progress8"></div>


    </div>
    <div class="ten wide olumn">
        <div class="ui basic compact segments" style="width: 250px">
        <div class="ui segment">
            <h4><i class="info circle icon"></i>Info</h4>
            You have stomach and gut problems find helpful reseources here <a href="#">www.stochandgut.org</a>
        </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="column"><img class="ui tiny image" src='/img/living.png'> <h4>Living</h4></div>
    <div class="column">
        <labe>Household</labe>
        <div id="progress9"></div>
        <labe>Finances</labe>
        <div id="progress10"></div>
        <labe>Relationships & Spirituality</labe>
        <div id="progress11"></div>
        <labe>Medication & Drugs</labe>
        <div id="progress12"></div>

    </div>
    <div class="ten wide olumn">
        <div class="ui basic compact segments" style="width: 250px">
        <div class="ui segment">
        </div>
        </div>
    </div>
  </div>

</div>




</div></div>
<br>
<button class="huge circular primary ui icon right floated button js-upload
    right-button">
    <i class="angle right icon"></i>
</button>
