<div class="mtopbox">
    <h2 class="ui header">
        <img class="ui image" src="img/path.png">
        <div class="content">
            Your Path
            <div class="sub header mobile hidden">Thank you for completing the questionnaire.</div>
        </div>
        <div class="sub header mobile only header-top-margin">Thank you for completing the questionnaire.</div>
    </h2>
</div>



<div class="mbottombox">
    <div class="ui inverted dimmer active js-loading">
        <div class="ui text loader">Uploading and analysing</div>
    </div>
    <div class="ui hidden warning message js-error-uploading">
        <i class="close icon"></i>
        <div class="header">
            Error Uploading Data
        </div>
        There was an error uploading your data. This could be down to bad internet reception. We have saved and will try
        and upload it the next time you complete a questionnaire. No data has been lost!
    </div>
    <div class="result-container"></div>
</div>




</div>
</div>
<br>
<button class="ui icon big right labeled icon blue right floated button js-done right-button">
    <i class="check icon"></i>Finish
</button>