        <input id="anPageName" name="page" type="hidden" value="a10000nccnsplash"/>
        <div class="a10000nccnsplash">
            <div style="width: 375px; height: 100%; position:relative; margin:auto;">
                <img src="./img/nccn/10000---nccn---splash-rectangle-6.png" class="rectangle6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img src="./img/nccn/10000---nccn---splash-rectangle@2x.png" class="rectangle getstarted-js" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="getstarted getstarted-js">
                    Get Started
                </div>
                <div class="nccn">
                    NCCN
                </div>
                <div class="distressthermometer">
                    Distress Thermometer
                </div>
            </div>
        </div>
