 <div class="ui vertical center aligned segment top-margin">

        <h1 class="ui huge header">
            Hi There! Let’s start<br> off by selecting who you are.
        </h1>
        <br><br>
        <div class="ui grid">
            <div class="five wide column js-mypath-start">

                <div class="ui small image">
                    <img src="img/patient.png">
                </div>
                <h1>Patient</h1>

            </div>
            <div class="five wide column js-mypath-care-start">
                <div class="ui small image">
                    <img src="img/caregiver.png">
                </div>
                <h1>Caregiver</h1>

            </div>
            <div class="five wide column js-nccn-start">
                <div class="ui small image">
                    <img src="img/nccn.png">
                </div>
                <h1>Nccn</h1>
            </div>
        </div>

</div>
