<div class="mtopbox">
    <h2 class="ui header">
        <img class="ui sa image" src="img/path.png">
        <div class="content">
            MyPath
        </div>
    </h2>
</div>

<div class="mbottombox">

    <div class="ui vertical center aligned segment">
        <h1 class="ui huge header">
            Hi There! Let’s start.
        </h1>
        <br><br>

        <div class="ui grid">
            <div class="five wide column">
                <div class="ui small image">
                    <img src="img/patient.png">
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui form">
                    <div class="field">
                        <label>Please enter your token:</label>
                        <input id='js-input' type="text">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
