<div class="mtopbox">
<h2 class="ui header">
  <img src="{{img}}" style="max-height: 40px; width: auto; height: auto;">
  <div class="content">
    {{title}}
    <div class="sub header">{{subtitle}}</div>
  </div>
</h2>
    <div class="ui tiny progress">
        <div class="bar"></div>
    </div>
</div>

<div class="mbottombox">
    <div class="js-category"></div>
</div>


<button class="huge circular primary ui icon right floated button js-next right-button">
    <i class="angle right icon"></i>
</button>

<div style="padding-bottom: 100px"><br></div>