<div class="topbox">
    <div class="vcentre">
         <h1>Great job! <br> You're all done</h1>
        <p>Your data will now be uploaded</p>
    </div>
</div>
<br>
<button class="huge circular primary ui icon right floated button js-upload right-button">
    <i class="angle up icon"></i>
</button>
