$nblue = #326cf4

@import '../../src/modules/main/views/layout/layout';
@import '../../src/modules/main/views/thermo/thermo';
@import '../../src/modules/main/views/done/done';
@import '../../src/modules/main/views/personal/personal';
@import 'nccn/nccn';