$nblue = #326cf4
$mgreen = #f5dbfa

@import '../../src/modules/nccn/views/layout/layout';
@import '../../src/modules/nccn/views/thermo/thermo';
@import '../../src/modules/nccn/views/done/done';
@import '../../src/modules/nccn/views/personal/personal';

@import '../../src/modules/main/views/splash/splash';
@import '../../src/modules/main/views/layout/layout';

@import '../../src/modules/mypath/views/layout/layout';

@import 'nccn/nccn';