@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,500,700');

@font-face {
                          font-family: "SFProText-Regular";
                          src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        
.a100011nccnend {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(244, 246, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a100011nccnend .rectangle6 {
  background-color    : rgba(50, 108, 244, 1.0);
  top                 : -7px;
  height              : 707px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .lightstatusbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .lightstatusbar .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 363px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .lightstatusbar .group .mobilesignal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 6px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .lightstatusbar .group .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a100011nccnend .lightstatusbar .group .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .lightstatusbar .group .hour {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.a100011nccnend .lightstatusbar .group .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 14.0px;
}
.a100011nccnend .lightstatusbar .group .battery1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 10px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a100011nccnend .awesomeyouu2019reall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 296px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 38.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}