{{#if title}}

<div class="item">
    <div class="right floated content">
        <div class="ui toggle checkbox" id="answer-js">
            <input type="checkbox" >
            <label></label>
        </div>
    </div>
    <div class="content">
        {{title}}
    </div>
</div>
{{/if}}
{{#if input}}
<br>
<div class="item">
    <div class="ui form">
        <div class="field">
            <label>{{input}}</label>
            <textarea id="inputtext"></textarea>
        </div>
    </div>
</div>
{{/if}}
