<div class="content">
    <div class="description">
        <p>{{title}}</p>
    </div>
    <div class="extra">
        <div class="ui right floated buttons">
            <button class="ui button js-yes js-save">Yes</button>
            <div class="or"></div>
            <button class="ui button js-no js-save">No</button>
        </div>
    </div>
</div>
