{{rofl}}
<h1 class="ui header">Welcome to the distress thermometer</h1>
<p>
<div class="ui placeholder">
    <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
</p>

<button class="ui labeled icon primary button js-question">
 <i class="thermometer half icon"></i>
  Take Questionnaire
</button>

<button class="ui labeled icon button js-results">
 <i class="poll icon"></i>
  View Results
</button>
