<div class="topbox">
    <h2>Distress Thermometer</h2>
    <div>
        What number best describes how much distress you have been experiencing in the past week, including today?
    </div>
</div>

<div class="bottombox">
    <div class="ui labeled slider js-slider"></div>

    <div class="ui grid">
    <div class="four wide column">No distress</div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column">Extreme distress</div>
    </div>
</div>

<button class="huge circular primary ui icon right floated button js-qstart right-button">
    <i class="angle right icon"></i>
</button>
