.ui.slider .inner
    .thumb
        background: $nblue !important
    .track-fill
        background: $nblue !important

.ui.primary.button
    background-color: $nblue !important

.topbox
    color: white;
    background-color: $nblue
    padding: 20px 20px 20px 20px;
    height: 249px;
    border-radius: 0px 0px 25px 25px;

.bottombox
    width: 350px;
    position:relative;
    margin:auto;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    top:-20px
    margin-top: -80px
