<div class="mtopbox">
    <h2 class="ui header">
        <img class="ui sa image" src="img/path.png">
        <div class="content">
            MyPath
        </div>
    </h2>
</div>



<div class="mbottombox">
    <h3>Welcome to the MyPath app.</h3>
    <p>
        This is a digital system to help you during your
        cancer journey. You will use MyPath with your healthcare providers at Markey
        Cancer Center.
    </p>
    <div class="ui red message">
        If you are having or have an emergency always call 911.
    </div>

    If you
    are having fevers, chills, significant cough or shortness of breath, severe fatigue
    or any bleeding, you should immediately contact your provider or seek
    emergency treatment. The symptoms reported by you via the app and the
    surveys completed by you are not intended to be a source of medical advice or
    treatment. Any questions about medications, health care, and/or participation in
    this program should be directed to your health care provider.
    Please fill out the following questions, which will help guide you through your
    treatment.</p>
    <p>Please click on the blue button to continue.</p>
</div>

<div class="ui icon message hidden js-goto-done">
    <i class="exclamation triangle icon"></i>
    <div class="content">
        <div class="header">
            There are some records that haven't been uploaded.
        </div>
        <p>Click here to try again. Otherwise we will try again at questionnaire completion.</p>
    </div>

</div>


<button class="ui icon big right labeled icon blue right floated button js-tstart right-button">
    <i class="angle right icon"></i>Next
</button>
