<div class="mtopbox">
    <h2 class="ui header">
        <img class="ui sa image" src="img/path.png">
        <div class="content">
            MyPath
        </div>
    </h2>
</div>



<div class="mbottombox">
    <h3>Please connect to the internet!</h3>
    <div class="ui  message">
        In order to download the initial data you need to be connected to the internet. Please make sure you have access to the
        internet and try again by pressing the blue button.
    </div>
</div>

<button class="ui icon big right labeled icon blue right floated button js-tstart right-button">
    <i class="angle right icon"></i>Next
</button>